[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
pytest-html = "*"
pytest-cov = "*"
pytest-mock = "*"
pyflakes = "*"
pytest-runner = "*"
coverage = "*"
pytype = "*"
pytest-eradicate = "*"

[packages]
loguru = "*"

[requires]
python_version = "{{cookiecutter.python_version}}"

[pipenv]
allow_prereleases = true

[scripts]
test = "env PYTHONPATH=.:$PYTHONPATH --cov={{cookiecutter.project_module}} pytest --eradicate tests/" 